* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 12px;
}

body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 200px 315px 850px;
  background-color: #ECF2F7;
}

.wrapper p {
  color: #808995;
}

.wrapper h2 {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

/*Side Nav Bar*/
.side-nav {
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: #343F54;
}

.side-nav-profile {
  border-bottom: 2.5px solid #1f272f;
  border-style: ridge;
}

.side-nav-profile__img {
  border-radius: 50%;
  margin: .8rem 3rem 0 3.3rem;
  width: 40%;
}

.side-nav-profile__figcaption {
  color: #ADB8CD;
  padding: .8rem 0 1.5rem 3rem;
  display: inline-flex;
}

.fa-angle-down {
  color: #ADB8CD;
  padding-left: .3rem;
}

.side-nav-main {
  display: flex;
  flex-direction: column;
  border-bottom: 2.5px solid #1f272f;
  border-style: ridge;
}

.side-nav__p {
  margin: 1rem;
}

.side-nav__i {
  margin-right: .6rem;
}

.side-nav--href {
  text-decoration: none;
  color: #ADB8CD;
  margin: 0 0 1.5rem 1rem;
}

.side-nav--href:hover {
  color: #FFFFFF;
}

.side-nav-admin {
  display: flex;
  flex-direction: column;
  border-bottom: 2.5px solid #1f272f;
  border-style: ridge;
}

.side-nav-categories {
  display: flex;
  flex-direction: column;
}

/*Header section, including search bar and 2nd nav bar*/
.header {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #FFFFFF;
}

.search-bar {
  display: flex;
  border: 1px solid #ADB8CD
}

.header__btn {
  border-right: solid 1px #ADB8CD;
  padding: 1.5rem;
}

.header__btn:hover {
  background-color: #009EFF;
}

.fa-caret-left {
  padding-right: .18rem;
  color: #008EF6;
}

.search-bar i {
  font-size: 1.5rem;
  color: #ADB8CD;
}

.header-form {
  padding: 1.5rem 34rem 1.5rem 1.5rem;
}

.fa-search {
  padding-right: .5rem;
}

.header-form__text {
  padding-right: 40rem;
  text-overflow: ellipsis;
}

.header__btn--no-border {
  border-style: none;
}

.page-info {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title__h1 {
  margin-bottom: .8rem;
  font-family: "Open Sans", sans-serif;
}

.fa-map-marker {
  padding-right: .5rem;
}

.main-title__p--span {
  color: #55C6F1;
}

.page-edit__btn {
  border: solid 1px #ADB8CD;
  border-radius: 2rem;
  padding: .8rem;
  color: #808995;
}

.page-edit__btn i {
  padding: .1rem;
  font-size: 1.2rem;
}

.fa-circle {
  color: #74CB17;
}

.second-nav__ul {
  display: flex;
  padding: 2.5rem;
}

.second-nav li {
  padding-right: 4rem;
  font-weight: 600;
}

/*Circle and Bar Graphs*/
.section-content {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}

.circle-graphs {
  display: flex;
  position: relative;
  align-self: center;
  stroke-linecap: round;
  margin-left: 4.5rem;
}

.circle-graph__data {
  display: inline-block;
  width: 180px;
  position: relative;
}

.circle-graph__text {
  position: absolute;
  top: 6.5rem;
  left: 3.5rem;
}

#circle-graph__num {
  position: absolute;
  font-size: 2rem;
  bottom: 2rem;
  left: 1rem;
}

.circle-graphs-form {
  position: absolute;
  top: 14rem;
  left: 14rem;
}

.bar-graph {
  margin-left: 25rem
}

.bar-graph__img {
  width: 65%;
}

.bar-graph-form {
  padding: 2.5rem 0 0 7rem;
}

.graph-input-style {
  padding: .8rem;
  border: 1px solid #ADB8CD;
  border-radius: 2rem;
  font-weight: 600;
}

/*Job Description and Social Media Inputs and Btns*/
.main-content {
  grid-column: 2/3;
  grid-row: 3/4;s
}

.line-break {
  position: relative;
}

.line-break__hr {
  border: solid .5px #ADB8CD;
}

.line-break__btn {
  position: absolute;
  top: -1rem;
  left: 50rem;
  font-size: 1.4rem;
  border: 1px solid #ADB8CD;
  border-radius: 2rem;
  padding: .3rem .5rem .3rem .5rem;
  color: #808995;
}

.article-aside-wrap {
  display: flex;
  padding: 4rem 0 0 2.5rem;
}

.main-content-article {
  width: 63%;
  height: 760px;
  background-color: #FFFFFF;
  margin-right: 2.5rem;
}

.job-description__div {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  border-bottom: 1px solid #ADB8CD;
}

.job-description--color {
  background-color: #6D7D97;
}

.main-content__h2 {
  width: 200px;
}

.main-content__btn {
  padding: .5rem;
  background-color: #7885AE;
}

#description-target {
  min-width: 200px;
}

.main-content__img {
  width: 16%;
  border-radius: 50%;
}

.main-content__btn i {
  padding-right: .5rem;
}

.main-content-aside {
  width: 16%;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: column;
}

.social__btn {
  padding: 1rem;
  margin-bottom: 1rem;
}
